body{
    font-family:Arial, sans-serif ;
    margin:0;
    padding:0;
    background-color: #1c2a48;
    color:#ffffff;
    line-height:1.6;


}

.container{
    padding:20px;
    margin: 40px 20px;
    background-color: #273a59;
    border-radius: 8px;
}

/* Navigation Styles */
nav.busqueda {
    background-color: #16203b;
    padding: 10px 0;
    text-align: right; /* Texto alineado a la derecha */
    width: 100%;
    left:0;
    top:0;
    position: fixed;
    z-index: 1000;
}

nav.busqueda ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 20px;
}

nav.busqueda ul li {
    display: inline;
    margin-left: 20px;
}

nav.busqueda ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
}

nav.busqueda ul li a:hover {
    color: #ffcc00; /* Efecto hover */
}

/* Header Styles */
h1 {
    color: #ffcc00; /* Título destacado en dorado */
    font-size: 2em;
    margin-bottom: 10px;
}

.perfil h1 {
    text-align: left;
}

.educacion h1 {
    text-align: right;
}

.experiencia h1 {
    text-align: left;
}

.habilidades h1 {
    text-align: right;
}

footer h2 {
    text-align: center;
}

/* Paragraph and List Styles */
p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Estilo específico para el contenedor de habilidades */
.habilidades ul {
    display: flex;
    justify-content: space-around; /* Espacio alrededor de los elementos */
    flex-wrap: wrap; /* Permitir que los elementos se distribuyan en más de una fila */
    
}

.habilidades ul li {
    width: 45%; /* Cada columna ocupará el 45% del ancho del contenedor */
    margin-bottom: 10px; /* Espacio entre los elementos */
}

/* Footer Styles */
footer {
    background-color: #16203b;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Specific Section Styles */
.perfil, .educacion, .experiencia, .habilidades {
    margin-top: 80px;
    padding-top: 40px;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav.busqueda ul li {
        display: block;
        margin: 10px 0;
        text-align: right;
    }

    .habilidades ul li {
        width: 100%; /* En pantallas pequeñas, las columnas ocuparán todo el ancho */
    }
}












